html {
    /* font-size: 15px; px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
    background-color: rgb(224, 224, 224);
}

#content {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
}

.box {
    flex-grow: 1;
    border: 3px solid rgba(0, 0, 0, 0.2);
    /*background-color: wheat;*/
}

.box1 {
    flex-grow: 2;
    border: 3px solid rgba(0, 0, 0, 0.2);
}

.content-box {
    flex-direction: column;
}

.result-div {
    /* background-color: rgb(96, 96, 97); */
    height: 50px;
    margin: 0 auto;
    /* background-color: rgb(224, 224, 224); */
    background-color: rgb(190, 190, 190);
    border: 3px solid gray;
    border-radius: 10px;
    text-align: right;
    font-size: 40px;
    transform: scale(0.7) translateY(30px);
}

.button {
    position: relative;
    flex-grow: 1;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    /* padding: 2px; */
    height: 60px;
    width:75px;
    margin: 2px;
    transform: scale(0.7) translateY(30px);
}

@keyframes buttonKeyframes {
    to {transform: scale(1) translateY(0px)};
}

.animation-buttonKeyframes {
    animation-name: buttonKeyframes;
    animation-duration: 0.5s;
    /* animation-timing-function: cubic-bezier(1,1,1,1); */
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.buttonText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
.number-button {
    background-color: rgb(245, 222, 179);
}

.buttonNumber-mousedown {
    /* background-color: white; */
    /* opacity: 0.2; */
    background-color: rgba(245, 222, 179, 0.1);
}

@keyframes buttonNumberKeyframes1 {
    to {background-color: rgba(245, 222, 179, 1)};
}

@keyframes buttonNumberKeyframes2 {
    to {background-color: rgba(245, 222, 179, 1)};
}

.animation-resetNumberButton1 {
    animation-name: buttonNumberKeyframes1;
    animation-duration: 1s;
    /* animation-timing-function: cubic-bezier(1,1,1,1); */
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation-resetNumberButton2 {
    animation-name: buttonNumberKeyframes2;
    animation-duration: 1s;
    /* animation-timing-function: cubic-bezier(1,1,1,1); */
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.function-button {
    background-color: rgb(245, 213, 154);
}

.buttonFunction-mousedown {
    /* background-color: white; */
    /* opacity: 0.2; */
    background: rgba(245, 213, 154,0.1);
}

.result-button {
    background-color: rgb(249, 196, 97);
}
  
.buttonResult-mousedown {
    /* background-color: white; */
    /* opacity: 0.2; */
    background: rgba(249, 196, 97,0.1);
}

@keyframes buttonResultKeyframes1 {
    to {background-color: rgba(249, 196, 97, 1)};
}

@keyframes buttonResultKeyframes2 {
    to {background-color: rgba(249, 196, 97, 1)};
}

.animation-resetResultButton1 {
    animation-name: buttonNumberKeyframes1;
    animation-duration: 1s;
    /* animation-timing-function: cubic-bezier(1,1,1,1); */
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation-resetResultButton2 {
    animation-name: buttonNumberKeyframes2;
    animation-duration: 1s;
    /* animation-timing-function: cubic-bezier(1,1,1,1); */
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}